<% layout('/layout/boilerplate') -%>

    <form action="/products/<%= product._id %>?_method=PATCH" method="post" class="mx-auto needs-validation" style="width: 600px;" novalidate>
        <div class="mb-3">
            <label for="productname" class="form-label">Product Name:</label>
            <input required value="<%= product.name %>" name="name" type="text" class="form-control" id="productname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="imageLink" class="form-label">Image URL:</label>
            <input required value="<%= product.image %>" name="image" type="text" class="form-control" id="imageLink">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Product Price:</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input required value="<%= product.price %>" name="price" type="number" class="form-control" id="price">
            </div>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Product Price:</label>
            <textarea required class="form-control" name="desc" id="desc" cols="30" rows="5"><%= product.desc %></textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </form>